<div
  class="flex flex-row max-lg:flex-col max-lg:gap-[10px] px-[5%] py-[20px] w-[100%] justify-between items-center sticky top-0 z-5 bg-primary-light"
>
  <h1 class="text-secondary-main font-bold text-xl">Storyscape</h1>
  <input
    placeholder="Search Blogs"
    class="rounded-md outline-0 w-[100%] hidden max-md:block px-[10px] py-[5px] text-xxs bg-primary-mid"
  />
  <div class="flex flex-row gap-[3vw] max-lg:gap-[2vw] max-md:gap-[5vw] items-center">
    <input
      placeholder="Search Blogs"
      class="rounded-md outline-0 w-[250px] max-lg:w-[400px] max-md:hidden px-[10px] py-[5px] text-xxs bg-primary-mid"
    />
    <a><h3 class="text-xs text-text-light font-medium">Home</h3></a>
    <a><h3 class="text-xs text-text-light font-medium">About Us</h3></a>
    <a><h3 class="text-xs text-text-light font-medium">Log in</h3></a>
    <a><h3 class="text-xs text-text-light font-medium">Sign Up</h3></a>
  </div>
</div>
