<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./components/Heading') %>
        <title>Blog</title>
    </head>
<body>
    <%- include('./components/NavBar') %>
    <div class="flex flex-row max-lg:flex-col">
        <div class="w-[100%] lg:hidden py-[5px] bg-primary-light dark:bg-text-light fixed left-0 cursor-pointer" onclick="filterModalAction()">
            <h2 class="text-md text-center font-semibold text-text-main dark:text-primary-light" id="filterModalButton">Open Filters</h2>
        </div>
        <div class="w-[100%] flex flex-row gap-[10px] flex-wrap lg:hidden hidden px-[2%] bg-primary-light  dark:bg-text-light fixed top-[200px] md:top-[165px]" id="filtermodal">
            <div class="flex flex-row items-center gap-[15px] max-lg:hidden"> 
                <i class="uil uil-filter text-xl text-text-main"></i>
                <h2 class="text-lg font-semibold text-text-main">Filters</h2>
               </div>
               <h4 class="text-xs font-medium text-text-main">Websites</h4>
               <h4 class="text-xs font-medium text-text-main">Mobile App</h4>
               <h4 class="text-xs font-medium text-text-main">Graphic Design</h4>
               <h4 class="text-xs font-medium text-text-main">UI / UX Design</h4>
               <h4 class="text-xs font-medium text-text-main">Internet of Things</h4>
               <h4 class="text-xs font-medium text-text-main">Techonology</h4>
              <a href="prajwolneupane.com.np" target="_blank"><h4 class="text-xs font-medium text-text-main">Artificial Intelligence</h4></a>
               <h4 class="text-xs font-medium text-text-main">AI and Machine learning</h4>
               <h4 class="text-xs font-medium text-text-main">Database</h4>
               <h4 class="text-xs font-medium text-text-main">Networking</h4>
        </div>
        <div class="w-[25%] h-[88vh] px-[2%] bg-primary-light dark:bg-text-light flex flex-col gap-[10px] fixed left-0  max-lg:hidden">
           <div class="flex flex-row items-center gap-[15px] max-lg:hidden"> 
            <i class="uil uil-filter text-xl text-text-main"></i>
            <h2 class="text-lg font-semibold text-text-main">Filters</h2>
           </div>
           <h4 class="text-xs font-medium text-text-main dark:text-primary-light">Websites</h4>
           <h4 class="text-xs font-medium text-text-main">Mobile App</h4>
           <h4 class="text-xs font-medium text-text-main">Graphic Design</h4>
           <h4 class="text-xs font-medium text-text-main">UI / UX Design</h4>
           <h4 class="text-xs font-medium text-text-main">Internet of Things</h4>
           <h4 class="text-xs font-medium text-text-main">Techonology</h4>
           <h4 class="text-xs font-medium text-text-main">Artificial Intelligence</h4>
           <h4 class="text-xs font-medium text-text-main">AI and Machine learning</h4>
           <h4 class="text-xs font-medium text-text-main">Database</h4>
           <h4 class="text-xs font-medium text-text-main">Networking</h4>
        </div>
        <div class="w-[75%] max-md:w-[80%] max-sm:w-[90%] max-lg:mx-[auto] px-[5%] min-h-[87.8vh] ml-[25%] bg-primary-light dark:bg-text-light gap-[10px] flex-col flex" id="container">
            <% for(var i = 0;i<data.length;i++){ %>
                <div
                class="flex flex-col py-[20px] px-[3%] mt-[20px] max-md:mt-[40px] mb-[20px] w-[100%] bg-primary-mid rounded-md"
               id="content">
                <div class="flex flex-row items-start gap-[10px]">
                  <image
                    src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmFuZG9tJTIwcGVyc29ufGVufDB8fDB8fHww&w=1000&q=80"
                    class="w-[55px] h-[55px] object-cover bg-secondary-main rounded-[50%]"
                  />
                  <div>
                    <h2 class="font-semibold text-sm text-text-main">Prajwol Neupane</h2>
                    <h4 class="font-medium text-xxs text-text-light">
                      prajwolneupane68@gmail.com
                    </h4>
                  </div>
                </div>
                <h1 class="font-medium text-lg text-text-main">
                  <%=data[i].title %>
                </h1>
                <p
                  class="font-medium text-xxs text-transparent bg-gradient-to-b from-text-mid via-text-mid to-primary-light bg-clip-text"
                >
                <%=data[i].body %>
                </p>
                <a href="https://tailwindcss.com/docs/min-height" target="_blank" class="mt-[-35px] w-[200px]  mx-[auto]">
                  <button
                    class="bg-text-light  py-[8px] w-[100%] text-xxs font-regular text-white  rounded-md hover:bg-text-mid"
                  >
                    Continue Reading
                  </button>
                </a>
              </div> 
            <% } %>
        </div>
    </div>
</body>
<script src="js/infiniteScroll.js" defer ></script>
</html>